<div class="container">

  <div class="center-div">
    <h2>Administrateur</h2>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <div class="center-block">
    <table class="table table-hover w-auto">

      <thead class="thead-dark">
      <tr>
        <th>Gestion</th>
        <th></th>
        <th>Action</th>
      </tr>
      </thead>

      <!-- GESTION DES ADHÉRENTS -->
      <tbody>
      <tr>
        <td>Adhérent</td>
        <td></td>
        <td>
          <i class="material-icons hover" style="color:dimgray;" title="Liste" [routerLink]="['/admin-members-list']">view_list</i>
        </td>
      </tr>
      </tbody>

      <!-- GESTION DES CLASSEMENTS -->
      <tbody>
      <tr>
        <td>Classement</td>
        <td></td>
        <td>
          <i class="material-icons hover" style="color:dimgray;" title="Liste" [routerLink]="['/admin-members-list']">view_list</i>
        </td>
      </tr>
      </tbody>

      <!-- GESTION DES GROUPES SEMAINE -->
      <tbody>
      <tr>
      <tr>
        <td>Groupe semaine</td>
        <td></td>
        <td>
          <i class="material-icons hover" style="color:dimgray;" title="Liste" [routerLink]="['/admin-members-list']">view_list</i>
        </td>
      </tr>
      </tbody>

      <!-- GESTION DES ENTRAÎNEMENTS -->
      <tbody>
      <tr>
      <tr>
        <td>Session d'entraînement</td>
        <td></td>
        <td>
          <i class="material-icons hover" style="color:dimgray;" title="Liste" [routerLink]="['/admin-members-list']">view_list</i>
      </tr>
      </tbody>

    </table>
  </div>

</div>
