<div class="container">

  <div class="table-title">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="center-div">
          <h2>Administrateur - Gestion des classements</h2>
        </div>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-success btn-lg" title="Ajouter" data-toggle="modal"
                data-target="#modalAddRank" id="btnId">
          <span class="glyphicon glyphicon-plus-sign"></span>
          &nbsp;Classement</button>
      </div>
    </div>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- LISTE ANGULAR MATERIAL -->
  <!-- Search Field -->
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="refreshTable()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="center-block">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let ranking"> {{ ranking.id }} </td>
      </ng-container>

      <!-- RankName Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Classement </th>
        <td mat-cell *matCellDef="let ranking"> {{ ranking.label }} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <!-- ACTION icônes Editer + Supprimer -->
        <td mat-cell *matCellDef="let ranking">
          <mat-icon (click)="editRanking(ranking)" style="color:dimgray;">edit</mat-icon>
          <mat-icon (click)="deleteRanking(ranking)" style="color:orangered;">delete</mat-icon>
        </td>
      </ng-container>

      <!-- EN-TÊTE DE PAGE - AFFICHAGE  -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- LIGNES DU TABLEAU - AFFICHAGE  -->
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"></tr>

    </table>

    <!-- PAGINATION -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <!-- Copyright 2019 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
  </div>

  <!-- MODAL GESTION DES CLASSEMENTS - AJOUTER -->
  <div class="modal fade" id="modalAddRank" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <i class="material-icons" style="color:red;" data-dismiss="modal" aria-label="Close" title="Fermer">cancel</i>
          <h4 class="modal-title w-100 font-weight-bold">Ajouter un classement</h4>
        </div>
        <div class="modal-body">

          <!-- NOM -->
          <div class="form-group">
            <label class="form-control-label" data-error="wrong" data-success="right" for="formAddRankName">Nom</label>
            <input type="text" id="formAddRankName" class="form-control" placeholder="Nom">
          </div>

          <!-- PIED DE PAGE - BOUTONS -->
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal" value="reset">Annuler</button>
            <button type="button" class="btn btn-success">Valider</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- MODAL GESTION DES CLASSEMENTS - SUPPRIMER -->
  <div class="modal fade" id="modalDeleteRank" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <i class="material-icons" style="color:red;" data-dismiss="modal" aria-label="Close" title="Fermer">cancel</i>
          <h4 class="modal-title w-100 font-weight-bold">Supprimer un classement</h4>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            Voulez-vous supprimer le classement <b>40 [id: 2]</b> ?
            <br/><span class="glyphicon glyphicon-exclamation-sign" style="font-size:20px;color:orange;"></span>
            Cette action sera définitive.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
