<!-- MODAL GESTION DES ENTRAÎNEMENTS HEBDOMADAIRES - MODIFIER -->

<h1 mat-dialog-title>Modifier un entraînement hedbo</h1>
<form>
  <div mat-dialog-content>

    <!-- ID -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.id" placeholder="Id" name="id" disabled>
    </mat-form-field>

    <!-- JOUR -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.day" placeholder="Jour semaine" name="day">
    </mat-form-field>

    <!-- HEURE DÉBUT -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.startTime" placeholder="Heure début" name="startTime">
    </mat-form-field>

    <!-- NOMBRE DE JOUEURS MAX -->
    <mat-form-field>
      <input matInput [(ngModel)]="data.maxNumberPlayers" placeholder="Nombre de joueurs max" name="maxNumberPlayers">
    </mat-form-field>

    <!-- CLUB / LIEU DU TERRAIN D'ENTRAÎNEMENT -->
    <mat-form-field>
      <mat-select [(ngModel)]="data.club.id" placeholder="Club / Lieu" name="club">
        <mat-option *ngFor="let club of clubs" [value]="club.id">
          {{ club.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- GROUPE HEBDO -->
    <mat-form-field>
      <mat-select [(ngModel)]="data.trainingGroup.id" placeholder="Groupe assigné" name="trainingGroup">
        <mat-option *ngFor="let trainingGroup of trainingGroups" [value]="trainingGroup.id">
          {{ trainingGroup.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- STATUT ACTIF / INACTIF -->
    <mat-checkbox [(ngModel)]="data.statusIsActive" name="statusIsActive">
      {{ data.statusIsActive ? 'Actif' : 'Inactif' }}
    </mat-checkbox>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onNoClick()">Annuler</button>
    <button mat-raised-button [mat-dialog-close]="data.id" cdkFocusInitial (click)="onEditTrainingDay(data.id)">Mettre à jour</button>
  </div>

  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
</form>

