<div class="container">

  <div class="center-div">
    <h2>Mes coordonnées & informations</h2>
  </div>

  <!-- SEPARATEUR -->
  <hr/>

  <!-- PRENOM UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Prénom</span>
      </div>
      <input type="text" class="form-control" placeholder="Prénom">
    </div>
  </div>

  <!-- NOM UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Nom</span>
      </div>
      <input type="text" class="form-control" placeholder="Nom">
    </div>
  </div>

  <!-- CLASSEMENT UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Classement</span>
      </div>
        <select class="form-control" id="exampleFormControlSelectRank">
          <option value="0" selected>NC</option>
          <option value="1" >40</option>
          <option value="2" >30/5</option>
          <option value="3" >30/4</option>
          <option value="4" >30/3</option>
          <option value="5" >30/2</option>
          <option value="6" >30/1</option>
          <option value="7" >30</option>
          <option value="8" >15/5</option>
          <option value="9" >15/4</option>
          <option value="10" >15/3</option>
          <option value="11" >15/2</option>
          <option value="12" >15/1</option>
          <option value="13" >15</option>
          <option value="24" >5/6</option>
          <option value="14" >4/6</option>
          <option value="14" >3/6</option>
          <option value="15" >2/6</option>
          <option value="16" >1/6</option>
          <option value="17" >0</option>
          <option value="18" >-2/6</option>
          <option value="19" >-4/6</option>
          <option value="20" >-15</option>
          <option value="22" >Promotion</option>
        </select>
    </div>
  </div>

  <!-- LOGIN UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Login</span>
      </div>
      <input type="text" class="form-control" id="login" placeholder="toto" disabled>
    </div>
  </div>

  <!-- EMAIL 1 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">E-mail 1</span>
      </div>
      <input type="text" class="form-control" placeholder="E-mail 1">
    </div>
  </div>

  <!-- EMAIL 2 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">E-mail 2</span>
      </div>
      <input type="text" class="form-control" placeholder="E-mail 2">
    </div>
  </div>

  <!-- TELEPHONE 1 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Téléphone 1</span>
      </div>
      <input type="text" class="form-control" placeholder="Téléphone 1">
    </div>
  </div>

  <!-- TELEPHONE 2 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Téléphone 2</span>
      </div>
      <input type="text" class="form-control" placeholder="Téléphone 2">
    </div>
  </div>

  <!-- GROUPE SEMAINE UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Groupe semaine</span>
      </div>
      <select class="form-control" id="FormControlSelectGroup" disabled>
        <option value="" selected>-- En attente --</option>
        <option value="1" >Groupe du lundi</option>
        <option value="2" >Groupe du mardi</option>
        <option value="3" >Groupe du jeudi</option>
      </select>
    </div>
  </div>

  <!-- BOUTONS -->
  <div class="center-block w-50">
    <div class="text-right mb-3">
      <div class="btn-toolbar pull-right">
          <button type="button" class="btn btn-secondary btn-lg mr-3">Annuler</button>
          <button type="button" class="btn btn-primary btn-lg">Valider</button>
      </div>
    </div>
  </div>

</div>

