<div class="container">

  <div class="center-div">
    <h2>Mes coordonnées & informations</h2>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- NOM UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="" >Nom</span>
      </div>
      <input type="text" class="form-control" placeholder="Nom" value="Wick">
    </div>
  </div>

  <!-- PRÉNOM UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="" >Prénom</span>
      </div>
      <input type="text" class="form-control" placeholder="Prénom" value="John">
    </div>
  </div>

  <!-- LOGIN UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Login</span>
      </div>
      <input type="text" class="form-control" id="login" placeholder="Login" value="jwick" disabled>
    </div>
  </div>

  <!-- EMAIL 1 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">E-mail 1</span>
      </div>
      <input type="text" class="form-control" placeholder="E-mail 1" value="john.wick@moviestar.com">
    </div>
  </div>

  <!-- EMAIL 2 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">E-mail 2</span>
      </div>
      <input type="text" class="form-control" placeholder="E-mail 2">
    </div>
  </div>

  <!-- TÉLÉPHONE 1 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Téléphone 1</span>
      </div>
      <input type="text" class="form-control" placeholder="Téléphone 1" value="0102030405">
    </div>
  </div>

  <!-- TÉLÉPHONE 2 UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Téléphone 2</span>
      </div>
      <input type="text" class="form-control" placeholder="Téléphone 2">
    </div>
  </div>

  <!-- CLASSEMENT UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Classement</span>
      </div>
      <select class="form-control" id="formControlSelectRank">
        <option value="0" selected>NC</option>
        <option value="1" >40</option>
        <option value="2" >30/5</option>
        <option value="3" >30/4</option>
        <option value="4" >30/3</option>
        <option value="5" >30/2</option>
        <option value="6" >30/1</option>
        <option value="7" >30</option>
        <option value="8" >15/5</option>
        <option value="9" >15/4</option>
        <option value="10" >15/3</option>
        <option value="11" >15/2</option>
        <option value="12" >15/1</option>
        <option value="13" >15</option>
        <option value="24" >5/6</option>
        <option value="14" >4/6</option>
        <option value="14" >3/6</option>
        <option value="15" >2/6</option>
        <option value="16" >1/6</option>
        <option value="17" >0</option>
        <option value="18" >-2/6</option>
        <option value="19" >-4/6</option>
        <option value="20" >-15</option>
        <option value="22" >Promotion</option>
      </select>
    </div>
  </div>

  <!-- GROUPE SEMAINE UTILISATEUR -->
  <div class="center-block w-50">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">Groupe semaine</span>
      </div>
      <input type="text" class="form-control" placeholder="-- En attente d'affectation --" value="Lundi" disabled>
    </div>
  </div>

  <!-- BOUTONS -->
  <div class="center-block w-50">
      <div class="btn-toolbar pull-right">
          <button type="button" class="btn btn-default btn-lg mr-3" [routerLink]="['/home']">Annuler</button>
          <button type="button" class="btn btn-success btn-lg">Valider</button>
      </div>
  </div>

</div>

