<div class="container">

  <div class="center-div">
    <h2>Mes alertes email</h2>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- EMAILS GÉNÉRAUX -->
  <div class="center-block w-50">
    <div class="checkbox checkbox-warning">
      <input id="checkbox1" class="styled" type="checkbox" disabled checked>
      <label for="checkbox1" id="label-checkbox1">
        Emails généraux
      </label>
    </div>
  </div>

  <!-- EMAILS DES AUTRES ADHÉRENTS -->
  <div class="center-block w-50">
    <div class="checkbox checkbox-success">
      <input id="checkbox2" class="styled" type="checkbox">
      <label for="checkbox2">
        Les autres adhérents peuvent me contacter
      </label>
    </div>
  </div>

  <br/>
  <!-- BOUTONS -->
  <div class="center-block">
        <button type="button" class="btn btn-secondary btn-lg mr-3">Annuler</button>
        <button type="button" class="btn btn-primary btn-lg">Valider</button>
  </div>

</div>


