<div class="container">

  <div class="center-div">
    <h2>Bienvenue sur le site de l'ASC TENNIS</h2>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- INFORMATIONS GÉNÉRALES -->
  <div class="center-div">
    <h2>Réservez vos prochaines sessions d'entraînement et consultez les matches à venir !</h2>
  </div>

  <br/>
  <div class="center-block">
    <p>Connexion</p>
  </div>

  <!-- BOUTONS -->
  <div class="center-block">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default btn-lg mb-3" (click)="hideNavBar()"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Administrateur</button>
      <button type="button" class="btn btn-primary btn-lg mb-3" (click)="displayNavBar()"><span class="glyphicon glyphicon-user"></span>&nbsp;Adhérent</button>
    </div>
  </div>

  <div class="center-block">
    <div class = "g-signin2" data-onsuccess = "onSignIn" data-theme = "dark"> </div>
  </div>

</div>
