<div class="container">

  <div class="center-div">
    <h2>Bienvenue sur le site de l'ASC TENNIS</h2>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- INFORMATIONS GÉNÉRALES -->
  <div class="center-div">
    <!-- <h2>Réservez vos prochaines sessions d'entraînement et consultez les matches à venir ! </h2>-->
    <h2>Réservez vos prochaines sessions d'entraînement !</h2>
  </div>

  <!-- ANGULAR MATERIAL FORMULAIRE DE LOGIN -->
  <br/>
  <div class="center-block">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                  Le username est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  Le mot de passe est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Se connecter</button>
        </mat-card-actions>
      </mat-card>
    </form>

  </div>
</div>
