<div class="container">

  <div class="center-div">
    <h2>Bienvenue sur le site de l'ASC TENNIS</h2>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- INFORMATIONS GÉNÉRALES -->
  <div class="center-div">
    <h2>Réservez vos prochaines sessions d'entraînement et consultez les matches à venir !</h2>
  </div>

<!--  <br />-->
<!--  <div class="center-block">-->
<!--    <p>Connexion</p>-->
<!--  </div>-->

<!--  &lt;!&ndash; BOUTONS &ndash;&gt;-->
<!--  <div class="center-block">-->
<!--    <div class="btn-group-vertical">-->
<!--      &lt;!&ndash; Bouton Administrateur &ndash;&gt;-->
<!--      <button type="button" class="btn btn-info btn-lg mb-3" [routerLink]="['/home']"-->
<!--        (click)="displayNavBarAdmin()"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Administrateur</button>-->

<!--      &lt;!&ndash; Bouton Adhérent &ndash;&gt;-->
<!--      <button type="button" class="btn btn-primary btn-lg mb-3" [routerLink]="['/home']"-->
<!--        (click)="displayNavBar()"><span class="glyphicon glyphicon-user"></span>&nbsp;Adhérent</button>-->
<!--    </div>-->
<!--  </div>-->

  <div class="center-block">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                  Le username est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe" formControlName="password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  Le mot de passe est <strong>obligatoire</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Se connecter</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
