<!--<div class="image">-->
<!--  <app-nav-bar></app-nav-bar>-->
<!--  <br />-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<div class="image">
  <app-nav-bar></app-nav-bar>
  <!-- Page Content -->
  <div class="container">
    <!-- Bouton pour aller sur la page de connexion -->
    <div class="page-header">
      <button class='btn btn-success pull-right' [routerLink]="['/login']" (click)="topFunction()">
        <span class="glyphicon glyphicon-off"></span>
      </button>
    </div>

    <!-- Ajout d'un espace card devant un background -->
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <router-outlet></router-outlet>
        <div style="height: 700px"></div>
        <p class="lead mb-0">
          You've reached the end!
        </p>
        <!-- Bouton de défilement vers le haut -->
        <button *ngIf="isShow" (click)="topFunction()" id="myBtn">
          <i class="material-icons" style="font-size:32px;">arrow_upward</i>
        </button>
      </div>
    </div>
  </div>
</div>
