<!--<div class="image">-->
<!--  <app-nav-bar></app-nav-bar>-->
<!--  <br/>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<div class="image">
  <app-nav-bar></app-nav-bar>
  <!-- Page Content -->
  <div class="container">

    <!-- Ajout d'un espace card devant un background -->
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
        <router-outlet></router-outlet>
        <div style="height: 700px"></div>
        <p class="lead mb-0">You've reached the end!</p>
      </div>
    </div>
  </div>
</div>
