<div class="container">
  <!-- Navigation header that is placed at the top of the page -->
<!--  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed">

    <!-- Highlight the brand/logo/project name of your page -->
    <a class="navbar-brand" [routerLink]="['/']"><span><i class="glyphicon glyphicon-home"></i></span>ASC Tennis</a>

    <!-- A standard navigation bar -->
    <ul class="navbar-nav">

      <!-- ENTRAÎNEMENTS -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/training-sessions-list']"><i class="glyphicon glyphicon-th-list"></i>Entraînements</a>
      </li>

      <!-- MESSAGERIE -->
      <li class="nav-item dropdown">
        <!-- Dropdown link-->
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="glyphicon glyphicon-envelope"></i>Messagerie</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-user"></span> Mes contacts</a>
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-inbox"></span> Mes messages</a>
        </div>
      </li>

      <!-- MATCHES PAR ÉQUIPES -->
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="glyphicon glyphicon-flag"></i>Matches</a>
      </li>

    </ul>

    <!--  A navigation bar with icons on right and dropdown-->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">


        <!-- Dropdown link-->
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="glyphicon glyphicon-cog"></i>
        </a>
        <!-- Right-aligned menu-->
        <div class="dropdown-menu dropdown-menu-right">

          <!-- LOGOUT -->
          <a class="dropdown-item" href="#"><span class="glyphicon glyphicon-off"></span> Déconnexion</a>

          <!-- SEPARATEUR -->
          <div class="dropdown-divider"></div>

          <!-- PRÉFÉRENCES -->
          <a class="dropdown-item" [routerLink]="['/user-profile']"><span class="glyphicon glyphicon-phone-alt"></span> Mes informations</a>
          <a class="dropdown-item" [routerLink]="['/email-alert-settings']"><span class="glyphicon glyphicon-envelope"></span> Mes alertes mails</a>

        </div>
      </li>
    </ul>
  </nav>
</div>
