/* You can add global styles to this file, and also import other style files */

/* ====================
   Style général
   ====================*/

  /* Style de la ligne séparateur */
  hr {
    height: 1px;
    color: dimgrey;
    background-color: dimgrey;
    border: none;
  }

  /* Masquage du menu Admin */
  .hide{
    display:none;
  }

  /* Alignement centré du titre */
  .center-div {
    margin: 0 auto;
    text-align: center;
  }

  /* Alignement centré des blocs */
  .center-block {
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
  }

  /* Style ombré sur les boutons */
  .btn-default, .btn-primary {
    box-shadow: 1px 2px 5px #000000;
  }

  /* Style survol sur les boutons */
  .btn-default:hover {
    background: #808080;
    color: #fff;
  }
  .btn-primary:hover {
    background: #0033cc;
    color: #fff;
  }

  .material-icons:hover {
    background: #C0C0C0;
  }

  /* Style bouton de défilement vers le haut */
  #myBtn {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
  }
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/* ====================
   Style app-root
   ====================*/

  /* Insertion d'une image background  */
  app-root .image {
    background: url('/assets/images/tennis-1280.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

/* ====================
   Style app-login
   ====================*/

  /* Taille de police du paragraphe */
  app-login p {
    font-size: 16px;
    font-weight: bold;
  }

/* ====================
   Style app-home
   ====================*/

  /* Taille de police du paragraphe */
  app-home p {
    font-size: 16px;
    font-weight: bold;
  }

  app-home #photo_snoopy {
    text-align: center;
  }

/* ====================
   Style nav-bar
   ====================*/

  /* Insertion d'une marge entre l'icône et le texte */
  app-nav-bar .glyphicon {
    margin-right: 10px;
  }

  /* Taille de police */
  app-nav-bar .navbar-nav > li {
    font-size: 14px;
  }
  app-nav-bar .navbar-brand {
    font-size: 14px;
  }
  app-nav-bar .dropdown-menu {
    font-size: 14px;
  }

  /*app-nav-bar .nav-item {*/
  #admin a {
    color: #00FFFF;
  }

  /* Espacement entre les items du menu */
  app-nav-bar li {
    margin-left: 10px;
    margin-right: 10px;
  }

/* ====================
  Style training-sessions-list
  ====================*/

/* ====================
   Style user-profile
   ====================*/

  /* Style de police */
  app-user-profile .form-control, .input-group-text, .btn {
    font-size: 14px;
  }
  app-user-profile .input-group-text {
    font-weight: bold;
  }

  /* Survol du curseur sur le champ login */
  app-user-profile #login, #FormControlSelectGroup {
    cursor: not-allowed;
  }

  /* Longueur fixe des blocs intitulés des entrées (labels) */
  app-user-profile span {
    display: inline-block;
    width: 140px;
  }

/* ====================
   Style email-alert-settings
   ====================*/

  /* Positionnement des checkboxes */
  app-email-alert-settings .checkbox {
    padding-left: 20px;
  }
  app-email-alert-settings .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
    font-size: 14px;
  }

  /* Effets de style sur les checkboxes */
  app-email-alert-settings .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  app-email-alert-settings .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }

  /* Effets de transition sur les checkboxes */
  app-email-alert-settings .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
  }
  app-email-alert-settings .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  app-email-alert-settings .checkbox input[type="checkbox"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  app-email-alert-settings .checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
  }

  /* Modification du style quand le checkbox 1 est coché/décoché */
  app-email-alert-settings .checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  app-email-alert-settings .checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
  }

  /* Modification du style quand le checkbox 2 est coché/décoché */
  app-email-alert-settings .checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  app-email-alert-settings .checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
  }

  /* Alignement centré des blocs entrées (inputs) */
  app-email-alert-settings .center-block {
    display: table;  /* Instead of display:block */
    margin-left: auto;
    margin-right: auto;
  }

  /* Survol du curseur sur le checkbox 1 */
  app-email-alert-settings #checkbox1, #label-checkbox1 {
    cursor: not-allowed;
  }

/* ====================
   Style admin
   ====================*/

  /* Style de police pour les inputs */
  app-admin .form-control {
    font-size: 14px;
    /*cursor: pointer;*/
  }

  /* Style de police pour les labels */
  app-admin .form-control-label {
    font-weight: bold;
  }

  /* Style survol sur les boutons */
  app-admin .material-icons {
    cursor: pointer;
  }

/* ====================
   Media queries
   Extra small devices (portrait phones, less than 576px)
   ====================*/

  /* Small devices (landscape phones, 576px and up) */
  @media screen and (max-width: 576px) {
    app-home img {
      width: 100%;
    }
  }
