<div class="container">

  <div class="table-title">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="center-div">
          <h2>Administrateur - Gestion des entraîneurs</h2>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="addCoachForm()">
        <i class="material-icons">add</i>
        <span> Entraîneur</span>
      </button>
    </div>
  </div>

  <!-- SÉPARATEUR -->
  <hr/>

  <!-- LISTE ANGULAR MATERIAL -->
  <!-- Search Field -->
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Rechercher</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="refreshTable()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="center-block">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let coach" data-label="Id"> {{ coach.id }} </td>
      </ng-container>

      <!-- LastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom</th>
        <td mat-cell *matCellDef="let coach" data-label="Nom"> {{ coach.lastName }} </td>
      </ng-container>

      <!-- FirstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom</th>
        <td mat-cell *matCellDef="let coach" data-label="Prénom"> {{ coach.firstName }} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut</th>
        <ng-container *matCellDef="let coach">
          <!-- Affichage si statut actif -->
          <td mat-cell *ngIf="coach.statusIsActive === true" data-label="Statut">
            <span class="glyphicon glyphicon-record" style="color:green;"></span> Actif
          </td>
          <!-- Affichage si statut inactif -->
          <td mat-cell *ngIf="coach.statusIsActive === false" data-label="Statut">
            <span class="glyphicon glyphicon-record" style="color:red;"></span> Inactif
          </td>
        </ng-container>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
        <!-- ACTION icônes Editer -->
        <td mat-cell *matCellDef="let coach" data-label="Action">
          <mat-icon (click)="editCoachForm(coach)" style="color:dimgray;" matTooltip="Modifier">edit</mat-icon>
        </td>
      </ng-container>

      <!-- EN-TÊTE DE PAGE - AFFICHAGE  -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- LIGNES DU TABLEAU - AFFICHAGE  -->
      <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;"></tr>

    </table>

    <!-- PAGINATION -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <!-- Copyright 2019 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
  </div>

</div>

