/*.pagination {*/
/*  float: right;*/
/*  margin: 0 0 5px;*/
/*}*/
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 20px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
  text-decoration: none;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
  color: white;
}
.pagination li.active a:hover {
  background: #0397d6;
  color: white;
}
.pagination li.disabled i {
  color: #ccc;
  pointer: not-allowed;
}
.pagination li a {
  font-size: 14px;
  padding-top: 6px
}
.pagination li.disabled {
  cursor: no-drop;
}

/* Style survol sur les boutons material-icons */
.glyphicon-sort {
  cursor: pointer;
}
.glyphicon-sort:hover {
  color: yellow;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

