<!-- MODAL GESTION DES ADHÉRENTS - MODIFIER -->

<h1 mat-dialog-title>Modifier un utilisateur</h1>
<div mat-dialog-content>

  <!-- ID -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.id" placeholder="Id" disabled>
  </mat-form-field>

  <!-- NOM -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.lastName" placeholder="Nom">
  </mat-form-field>

  <!-- PRÉNOM -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.firstName" placeholder="Prénom">
  </mat-form-field>

  <!-- LOGIN -->
  <mat-form-field>
    <mat-select [(ngModel)]="data.appUser.id" placeholder="Utilisateur">
      <mat-option *ngFor="let appUser of userList" [value]="appUser.id">
        {{appUser.username}} [{{appUser.roleList?.join(', ')}}]
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.appUser.username" placeholder="test">
  </mat-form-field>

  <!-- EMAIL 1 -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.email1" placeholder="Email 1">
  </mat-form-field>

  <!-- EMAIL 2 -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.email2" placeholder="Email 2">
  </mat-form-field>

  <!-- TELEPHONE 1 -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.phoneNumber1" placeholder="Téléphone 1">
  </mat-form-field>

  <!-- TELEPHONE 2 -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.phoneNumber2" placeholder="Téléphone 2">
  </mat-form-field>

  <!-- NOMBRE DE PARTICIPATION AUX ENTRAÎNEMENTS -->
  <mat-form-field>
    <input matInput [(ngModel)]="data.trainingCount" placeholder="Nombre de participation aux entraînements">
  </mat-form-field>

  <!-- CLASSEMENT -->
  <mat-form-field>
    <mat-select [(ngModel)]="data.ranking.id" placeholder="Classement">
      <mat-option *ngFor="let ranking of rankings" [value]="ranking.id">
        {{ranking.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br/>

  <!-- GROUPE D'ENTRAÎNEMENT -->
  <mat-form-field>
    <mat-select [(ngModel)]="data.trainingGroup.id" placeholder="Groupe d'entraînement">
      <mat-option *ngFor="let trainingGroup of trainingGroups" [value]="trainingGroup.id">
        {{trainingGroup.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- AUTORISATION POUR RECEVOIR DES EMAILS GÉNÉRAUX -->
  <mat-checkbox [(ngModel)]="data.generalAlertOn">
    Réception d'emails généraux
  </mat-checkbox>
  <br/>

  <!-- AUTORISATION POUR RECEVOIR DES EMAILS DES AUTRES MEMBRES -->
  <mat-checkbox [(ngModel)]="data.playerAlertOn">
    Réception d'emails des autres membres
  </mat-checkbox>
  <br/>

  <!-- STATUT ACTIF / INACTIF -->
  <mat-checkbox [(ngModel)]="data.statusIsActive">
    {{ data.statusIsActive ? 'Actif' : 'Inactif' }}
  </mat-checkbox>

  <!-- TEST LISTBOX -->
  <!--  <mat-form-field>-->
  <!--    <mat-select [(ngModel)]="choosenEmoji" placeholder="Choose Your Destiny:">-->
  <!--      <mat-option *ngFor="let emoji of emojis" [value]="emoji">-->
  <!--        {{ emoji }}-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Annuler</button>
  <button mat-raised-button [mat-dialog-close]="data.id" cdkFocusInitial (click)="onEditPlayer(data.id)">Mettre à jour
  </button>
</div>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
